*:focus {
    outline: none!important;
    box-shadow: none;
}

body {
    background-image: url("../recursos/fondo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    user-select: none;
}

/*CELDAS*/
.td-dimention  {
    width: 50px!important;
    height: 50px!important;
    padding: 0!important;
}
.mine-icon {
    background-image: url(./../recursos/mine.svg);
    background-position: center;
    background-size: cover;
}
.flag-icon {
    background-image: url(./../recursos/flag.svg);
    background-position: center;
    background-size: cover;
}

/*board*/
.bg-black-transparent {
    background-color: rgba(0, 0, 0, 0.315)!important;
}

/*TABLA*/
.table {
    border-collapse: separate;
}
.cursor-pointer {
    cursor: pointer;   
}

.text-big {
    font-size: 24px!important;
}